VITE_CYBERSOURCE_ENDPOINT=https://testsecureacceptance.cybersource.com/pay

# local server
VITE_USERS_BACKEND_URL=http://localhost:3000
VITE_ADMIN_FRONTEND_URL=http://localhost:5174
VITE_ADMIN_BACKEND_URL=http://localhost:3001

# online server
# VITE_USERS_BACKEND_URL=
# VITE_ADMIN_FRONTEND_URL=
# VITE_ADMIN_BACKEND_URL=

# admin
VITE_SUBMIT_CONTACT_URL=/api/contacts

# overall
VITE_USER_SIGNUP=/api/users/signup
VITE_USER_LOGIN=/api/users/login
VITE_VERIFY_USER_HOOK_URL=/api/users/verifyUser
VITE_CHANGE_PASSWORD_URL=/api/users/change-password
VITE_FORGOT_PASSWORD_URL=/api/users/forgot-password
VITE_WASTELISTING_IMAGES_ACCESSING_URL=/uploads/
VITE_GET_SPECIFIC_USER_NOTIFICATIONS_URL =/api/notifications/specific-user-notifications
VITE_MARK_NOTIFICATION_READ_URL=/api/notifications/mark-read/
VITE_MARK_ALL_NOTIFICATIONS_READ_URL=/api/notifications/mark-all-read
VITE_GET_MESSAGES_URL=/api/messages/get-messages/
VITE_SEND_MESSAGE_URL=/api/messages/send-message/

# buyers
VITE_GET_BUYER_DASHBOARD_CARDS_URL=/api/buyers/buyer-dashboard-cards
VITE_BUYERS_GET_ALL_WASTE_LISTINGS_URL=/api/buyers/get-all-waste-listings
VITE_GET_SINGLE_WASTE_LISTING_URL=/api/buyers/get-single-waste-listing/
VITE_CHECKOUT_URL =/api/payments/checkout
VITE_START_CHAT_URL=/api/messages/start-chat
VITE_GET_ALL_BUYER_CONVERSATIONS_URL=/api/messages/get-all-buyer-conversations
VITE_GET_BUYER_ORDER_INFO_URL=/api/orders/buyer-simple-info
VITE_MARK_ORDER_COLLECTED_URL=/api/orders/mark-collected/
VITE_GET_BUYER_TRACK_ORDER_URL=/api/orders/buyer-track-order/
VITE_GET_BUYER_PAYMENTS_INFO_URL=/api/payments/buyer-simple-info
VITE_GET_BUYER_DETAILS_URL=/api/buyers/get-buyer-details
VITE_UPDATE_BUYER_DETAILS_URL=/api/buyers/update-buyer-details
VITE_GET_SELLER_WASTE_MATCHES_URL=/api/wastelistings/get-seller-waste-matches/
VITE_GET_WASTE_MATCH_SCORE_URL=/api/buyers/get-waste-match-score/

# sellers
VITE_GET_SELLER_DASHBOARD_CARDS_URL=/api/sellers/seller-dashboard-cards
VITE_SELLERS_GET_ALL_WASTE_LISTINGS_URL=/api/sellers/get-all-waste-listings
VITE_SELLER_UPLOAD_WASTE_URL=/api/wastelistings/seller-upload-waste
VITE_SELLER_UPLOAD_WASTE_SAVE_URL=/api/wastelistings/seller-upload-waste-save
VITE_UPDATE_SELLER_WASTE_LISTING_URL=/api/wastelistings/update-listing/
VITE_DELETE_SELLER_WASTE_LISTING_URL=/api/wastelistings/delete-listing/
VITE_UPDATE_LISTING_STATUS_URL=/api/wastelistings/update-listing-status
VITE_GET_ALL_SELLER_CONVERSATIONS_URL=/api/messages/get-all-seller-conversations
VITE_GET_SELLER_ORDER_INFO_URL=/api/orders/seller-simple-info
VITE_GET_SELLER_ORDER_ADVANCE_INFO_URL=/api/orders/seller-order-advance-info/
VITE_GET_SELLER_PAYMENTS_INFO_URL=/api/payments/seller-simple-info
VITE_GET_SELLER_DETAILS_URL=/api/sellers/get-seller-details
VITE_UPDATE_SELLER_DETAILS_URL=/api/sellers/update-seller-details
VITE_UPDATE_SELLER_ORDER_STATUS_URL=/api/orders/update-status
VITE_GET_ALL_ACTIVE_WASTELISTINGS_URL=/api/wastelistings/get-all-active-wastelistings
VITE_GET_BUYER_WASTE_MATCHES_URL=/api/wastelistings/get-buyer-waste-matches
