PORT=3000
JWT_SECRET=

# local server
MONGODB_URL=mongodb://localhost:27017/
USERS_BACKEND_URL=http://localhost:3000
USERS_FRONTEND_URL=http://localhost:5173

# online server
# MONGODB_URL=
# USERS_BACKEND_URL=
# USERS_FRONTEND_URL=

# gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-flash-lite-latest

# cybersource
CYBERSOURCE_PROFILE_ID=
CYBERSOURCE_ACCESS_KEY=
CYBERSOURCE_SECRET_KEY=
CYBERSOURCE_ENDPOINT=

CYBERSOURCE_CUSTOM_RESPONSE_URL=/api/payments/payment/response
PAYMENT_SUCCESS_REDIRECT_URL=/buyer/payment-success
PAYMENT_FAILED_REDIRECT_URL=/buyer/payment-failed
BUYER_DASHBOARD_REDIRECT_URL=/buyer/dashboard
