# local server
VITE_ADMIN_BACKEND_URL=http://localhost:3001
VITE_ADMIN_FRONTEND_URL=http://localhost:5174
VITE_USERS_BACKEND_URL=http://localhost:3000
VITE_USERS_FRONTEND_URL=http://localhost:5173

# online server
# VITE_ADMIN_BACKEND_URL=
# VITE_ADMIN_FRONTEND_URL=
# VITE_USERS_BACKEND_URL=
# VITE_USERS_FRONTEND_URL=

# overall
VITE_ADMIN_LOGIN=/api/users/login
VITE_ADMIN_SIGNUP=/api/users/signup
VITE_ADMIN_FORGOT_PASSWORD=/api/users/forgot-password
VITE_LOGIN_REDIRECT_URL=/login
VITE_VERIFY_USER_HOOK_URL=/api/users/verifyUser

# backend
VITE_GET_ALL_USERS_URL=/api/users/get-all-users
VITE_GET_ALL_WASTE_LISTINGS_URL=/api/wastelistings/get-all-wastelistings
VITE_GET_ALL_PAYMENTS_URL=/api/payments/get-all-payments
VITE_UPDATE_USER_STATUS_URL=/api/users/update-user-status
VITE_UPDATE_USER_ROLEANDSTATUS_URL=/api/users/update-user-roleandstatus
VITE_UPDATE_LISTING_STATUS_URL=/api/wastelistings/update-listing-status
VITE_GET_ADMIN_TRANSACTIONS_CARDS_URL=/api/payments/admin-dashboard-cards
VITE_GET_ADMIN_REPORTS_URL=/api/users/admin-reports-charts
VITE_CHANGE_PASSWORD_URL=/api/users/change-password
VITE_GET_ADMIN_DASHBOARD_SUMMARY_URL=/api/users/admin-dashboard-summary
VITE_GET_ALL_ADMIN_ANNOUNCEMENTS_URL=/api/notifications/all-admin-announcements
VITE_ADMIN_ANNOUNCEMENT_SENT_URL=/api/notifications/admin-announcement
VITE_GET_ALL_CONTACTS_URL=/api/contacts
VITE_MARK_CONTACT_READ_URL=/api/contacts
